@import url("https://fonts.googleapis.com/css2?family=Alice:wght@200;300;400;500;600;700;800;900&display=swap");

header {
  background-color: #fff;
  color: #fff;
  padding: 20px;
  text-align: center;
}
header h1 {
  margin: 0;
}
header p {
  margin: 5px 0 0;
  font-size: 1.2em;
  color: #fff;
}
html {
  scroll-behavior: smooth;
}
.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Text color */
  font-family: "Dancing Script", sans-serif;
}
body {
  height: auto;
  width: auto;
  margin: 0px;
  background-color: #050115;
  font-family: "Alice";
  font-size: 64px;
  text-align: center;
  color: #fff;
}
.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 80px;
  left: 0;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
body,
ul {
  margin: 0;
  padding: 0;
}
.floating-navbar {
  position: fixed;
  top: 72px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  width: 90%;
  height: 64px;
  padding: 8px;
  justify-content: right;
  align-items: center;
  gap: 20px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.menu-icon {
  display: none;
  cursor: pointer;
  font-size: 30px;
  color: #fff;
  padding-right: 32px;
}

.navbar-list {
  list-style: none;
  display: flex;
  margin: 8px;
  padding: 8px;
}

.navbar-list li {
  margin-right: 24px;
}

.navbar-list a {
  text-decoration: none;
  color: #fff;
  font-size: 32px;
  font-family: "Dancing Script";
  font-weight: bold;
}
.navbar-list a:hover {
  color: #74f7ff;
}
.glow-on-hover-li {
  display: inline-block;
  min-width: 160px;
  width: auto;
  height: 48px;
  align-self: baseline;
  margin: 16px;
  padding: 8px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Alice";
  font-size: 24px;
}
.glow-on-hover-li:before {
  content: "";
  background: linear-gradient(
    45deg,
    #74f7ff,
    #00424b,
    #63b2f9,
    #8c88da,
    #fcfcd4,
    #00a9ba,
    #2abec6,
    #befcff,
    #00c59a
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover-li:active {
  color: #000;
}

.glow-on-hover-li:active:after {
  background: transparent;
}

.glow-on-hover-li:hover:before {
  opacity: 1;
}

.glow-on-hover-li:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.embed-container {
  width: auto;
  height: 1080px;
  position: relative;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.embed-container iframe {
  width: 100%;
  height: 100%;
}
.scroll-button {
  position: fixed;
  bottom: 40px;
  display: inline-block;
  justify-content: center;
  width: 72px;
  height: 72px;
  fill: #050115;
  filter: drop-shadow(4px 4px 10px rgba(255, 255, 255, 0.1))
    drop-shadow(-4px -4px 10px rgba(255, 255, 255, 0.1));
  cursor: pointer;
}
.scroll-button img {
  width: 100%; /* Adjust the size of the icon */
  height: 100%; /* Adjust the size of the icon */
  /* fill: #fff; /* Change the color of the icon */
}
.container {
  width: 40px;
  height: 54px;
  background-color: #151035;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mouse {
  width: 100%;
  height: 100%;
  border: 3px solid #fff;
  border-radius: 17px;
  position: relative;
}
.mouse::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 2s infinite;
  -webkit-animation: wheel 2s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}

@-webkit-keyframes wheel {
  to {
    opacity: 0;
    top: 60px;
  }
}
.case-study {
  margin: 0px;
  padding: 0px; /* Add any padding you want */
  width: 100%; /* Allow full width on all screens */
  background: linear-gradient(180deg, #050115 0%, #060115 100%);
}
.cards-container {
  display: grid;
  grid-template-columns: repeat(
    3,
    minmax(auto, 1fr)
  ); /* Flexible grid with minimum width */
  grid-gap: 48px; /* Adjust grid gap as needed */
  margin: 80px; /* Center horizontally */
  margin-bottom: 48px; /* Keep bottom margin */
  margin-left: 5%;
}
.flip-card {
  display: flex; /* Change to flex for better centering */
  background-color: transparent;
  width: 100%; /* Use relative units for responsiveness */
  max-width: 528px; /* Keep maximum width for larger screens */
  height: 50vh; /* Allow cards to resize proportionally */
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  perspective: 1000px; /* Remove if you don't want the 3D effect */
  align-items: center; /* Center content vertically */
  display: flex;
  flex-wrap: wrap;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  border-radius: 15px;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}
.flip-card-back {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  transform: rotateY(180deg);
  font-size: 32px;
  font-kerning: 2;
  font-display: auto;
  border-radius: 15px;
  border: 1px solid rgba(116, 247, 255, 0.6);
}
h3 {
  font-size: 32px;
}
p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding: 24px;
}
.glow-on-hover-li {
  width: 80%;
  height: 48px;
  margin: 16px;
  padding: 8px; /* Add padding around the text */
  cursor: pointer;
  font-size: 24px;
  font-family: "Alice";
  background-color: transparent;
  color: #fff;
  border: 1px solid #74f7ff;
  box-shadow: 0 0 10px #0d8ba6;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
}
.glow-on-hover-li:hover {
  background-color: #74f7ff;
  color: #fff;
}
.glow-on-hover {
  width: 80%;
  height: 48px;
  align-self: baseline;
  margin: 16px;
  padding: 8px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  font-family: "Alice";
  font-size: 24px;
}
.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #74f7ff,
    #00424b,
    #63b2f9,
    #8c88da,
    #fcfcd4,
    #00a9ba,
    #2abec6,
    #befcff,
    #00c59a
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
.glow-on-hover:active {
  color: #000;
}
.glow-on-hover:active:after {
  background: transparent;
}
.glow-on-hover:hover:before {
  opacity: 1;
}
.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}
.button-gray {
  border-radius: 10px;
  border: 1px solid #1e1a2c;
  background: #4b4b4b;
  color: white;
  width: 80%;
  height: 48px;
  align-self: baseline;
  margin: 16px;
  padding: 8px;
  position: relative;
  z-index: 0;
  font-family: "Alice";
  font-size: 24px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.ribbon-2 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */

  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 20px var(--f) calc(10px + var(--r));
  margin-top: 8px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
  font-family: "Alice";
  font-size: 48px;
  color: #74f7ff;
}
.ribbon-1 {
  --f: 10px; /* control the folded part*/
  --r: 15px; /* control the ribbon shape */
  --t: 10px; /* the top offset */
  position: absolute;
  inset: var(--t) calc(-1 * var(--f)) auto auto;
  padding: 0 20px var(--f) calc(10px + var(--r));
  margin-top: 8px;
  clip-path: polygon(
    0 0,
    100% 0,
    100% calc(100% - var(--f)),
    calc(100% - var(--f)) 100%,
    calc(100% - var(--f)) calc(100% - var(--f)),
    0 calc(100% - var(--f)),
    var(--r) calc(50% - var(--f) / 2)
  );
  background: #00000099;
  box-shadow: 0 calc(-1 * var(--f)) 0 inset #0005;
  font-family: "Alice";
  font-size: 48px;
  color: #74f7ff;
}
.my-projects {
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding-top: 40px;
  background-image: url(BG-4.png);
  background-size: cover;
  padding-bottom: 80px;
}
.my-projects img {
  display: flex;
  width: 50%;
  height: auto;
}
.pro-div {
  display: flex;
  padding-top: 80px;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 0;
  justify-content: center;
  align-items: center;
}
.card-projects {
  position: relative; /* Add relative positioning to the container */
  max-width: 1080px;
  max-height: auto;
  margin: 0 auto;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}
.card-projects img {
  width: 100%;
  height: auto;
}
.card-projects video {
  width: 100%;
  height: auto;
  max-height: 894px;
  border-radius: 20px;
  box-shadow: 10px 10px 60px 0px rgba(13, 200, 207, 0.3),
    -10px -10px 60px 0px rgba(13, 200, 207, 0.3);
}
.pro-h2 {
  font-size: 96px;
}

.arrows {
  cursor: pointer;
  max-width: 64px;
  max-height: 64px;
}
.card-projects {
  max-width: 80%;
  max-height: auto;
}
/* .pro-h2 {
  font-size: 48px;
} */
.arrows {
  cursor: pointer;
  padding-top: 24px;
  max-width: 48px;
  max-height: 48px;
}
.Services {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px; /* Adjust padding as needed */
  box-sizing: border-box;
  margin-top: 0px;
}
.Service {
  flex: 0 0 calc(33.33% - 20px); /* Adjust the width of each service item */
  margin: 10px; /* Adjust margin between service items */
  text-align: center;
  /* Add any additional styling for individual services */
}
.Service h3 {
  font-size: 18px;
  color: #333;
}
.Service p {
  font-size: 14px;
  color: #666;
}
body {
  --background: rgba(255, 255, 255, 0.1);
  --text-color: #a1a1aa;
  --card-background-color: rgba(255, 255, 255, 0.015);
  --card-border-color: rgba(255, 255, 255, 0.1);
  --card-box-shadow-1: rgba(0, 0, 0, 0.05);
  --card-box-shadow-1-y: 3px;
  --card-box-shadow-1-blur: 6px;
  --card-box-shadow-2: rgba(0, 0, 0, 0.1);
  --card-box-shadow-2-y: 8px;
  --card-box-shadow-2-blur: 15px;
  --card-label-color: #ffffff;
  --card-icon-color: #d4d4d8;
  --card-icon-background-color: rgba(255, 255, 255, 0.08);
  --card-icon-border-color: rgba(255, 255, 255, 0.12);
  --card-shine-opacity: 0.1;
  --card-shine-gradient: conic-gradient(
    from 205deg at 50% 50%,
    rgba(16, 185, 129, 0) 0deg,
    #10b981 25deg,
    rgba(52, 211, 153, 0.18) 295deg,
    rgba(16, 185, 129, 0) 360deg
  );
  --card-line-color: #2a2b2c;
  --card-tile-color: rgba(16, 185, 129, 0.05);
  --card-hover-border-color: rgba(255, 255, 255, 0.2);
  --card-hover-box-shadow-1: rgba(0, 0, 0, 0.04);
  --card-hover-box-shadow-1-y: 5px;
  --card-hover-box-shadow-1-blur: 10px;
  --card-hover-box-shadow-2: rgba(0, 0, 0, 0.3);
  --card-hover-box-shadow-2-y: 15px;
  --card-hover-box-shadow-2-blur: 25px;
  --card-hover-icon-color: #34d399;
  --card-hover-icon-background-color: rgba(52, 211, 153, 0.1);
  --card-hover-icon-border-color: rgba(52, 211, 153, 0.2);
  --blur-opacity: 0.01;
  &.toggle .grid * {
    transition-duration: 0s !important;
  }
}
.grid {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 32px;
  position: relative;
  z-index: 1;
  width: 95%;
  padding: 24px; /* Adjust padding as needed */
  box-sizing: border-box;
}
.card {
  background-color: var(--background-color);
  box-shadow: 0px var(--card-box-shadow-1-y) var(--card-box-shadow-1-blur)
      var(--card-box-shadow-1),
    0px var(--card-box-shadow-2-y) var(--card-box-shadow-2-blur)
      var(--card-box-shadow-2),
    0 0 0 1px var(--card-border-color);
  padding: 56px 16px 16px 16px;
  border-radius: 15px;
  cursor: pointer;
  position: relative;
  transition: box-shadow 0.25s;
  display: inline-block;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 15px;
    background-color: var(--card-background-color);
  }

  .icon {
    z-index: 2;
    position: inherit;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    padding: 8px;
    height: 80px;
    width: 80px;

    &::after {
      content: "";
      position: absolute;
      inset: 4.5px;
      border-radius: 100%;
      background-color: var(--card-icon-background-color);
      border: 1px solid var(--card-icon-border-color);
      backdrop-filter: blur(2px);
      transition: background-color 0.25s, border-color 0.25s;
    }

    svg {
      position: relative;
      z-index: 1;
      display: block;
      width: 24px;
      height: 24px;
      transform: translateZ(0);
      color: var(--card-icon-color);
      transition: color 0.25s;
    }
  }

  h4 {
    z-index: 2;
    position: relative;
    margin: 12px 0 4px 0;
    font-family: inherit;
    font-weight: 600;
    font-size: 14px;
    line-height: 2;
    color: var(--card-label-color);
  }

  p {
    font-family: "Alice";
    z-index: 2;
    position: relative;
    margin: 0;
    font-size: 14px;
    line-height: 1.7;
    color: var(--text-color);
  }

  .shine {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    z-index: 1;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.5s;
    border: 1px solid #74f7ff;
    box-shadow: 0 0 10px #0d8ba6;
    background: rgba(255, 255, 255, 0.1);

    &:before {
      content: "";
      width: 150%;
      padding-bottom: 150%;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: 55%;
      filter: blur(35px);
      opacity: var(--card-shine-opacity);
      transform: translateX(-50%);
      background-image: var(--card-shine-gradient);
    }
  }
  .background {
    border-radius: inherit;
    position: absolute;
    inset: 0;
    overflow: hidden;
    -webkit-mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );
    mask-image: radial-gradient(
      circle at 60% 5%,
      black 0%,
      black 15%,
      transparent 60%
    );

    .tiles {
      opacity: 0;
      transition: opacity 0.25s;

      .tile {
        position: absolute;
        background-color: var(--card-tile-color);
        animation-duration: 8s;
        animation-iteration-count: infinite;
        opacity: 0;

        &.tile-4,
        &.tile-6,
        &.tile-10 {
          animation-delay: -2s;
        }

        &.tile-3,
        &.tile-5,
        &.tile-8 {
          animation-delay: -4s;
        }

        &.tile-2,
        &.tile-9 {
          animation-delay: -6s;
        }

        &.tile-1 {
          top: 0;
          left: 0;
          height: 10%;
          width: 22.5%;
        }

        &.tile-2 {
          top: 0;
          left: 22.5%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-3 {
          top: 0;
          left: 50%;
          height: 10%;
          width: 27.5%;
        }

        &.tile-4 {
          top: 0;
          left: 77.5%;
          height: 10%;
          width: 22.5%;
        }

        &.tile-5 {
          top: 10%;
          left: 0;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-6 {
          top: 10%;
          left: 22.5%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-7 {
          top: 10%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-8 {
          top: 10%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }

        &.tile-9 {
          top: 32.5%;
          left: 50%;
          height: 22.5%;
          width: 27.5%;
        }

        &.tile-10 {
          top: 32.5%;
          left: 77.5%;
          height: 22.5%;
          width: 22.5%;
        }
      }
    }

    @keyframes tile {
      0%,
      12.5%,
      100% {
        opacity: 1;
      }

      25%,
      82.5% {
        opacity: 0;
      }
    }

    .line {
      position: absolute;
      inset: 0;
      opacity: 0;
      transition: opacity 0.35s;

      &:before,
      &:after {
        content: "";
        position: absolute;
        background-color: var(--card-line-color);
        transition: transform 0.35s;
        border: 1px solid #74f7ff;
        box-shadow: 0 0 10px #0d8ba6;
      }

      &:before {
        left: 0;
        right: 0;
        height: 1px;
        transform-origin: 0 50%;
        transform: scaleX(0);
      }

      &:after {
        top: 0;
        bottom: 0;
        width: 1px;
        transform-origin: 50% 0;
        transform: scaleY(0);
      }

      &.line-1 {
        &:before {
          top: 10%;
        }

        &:after {
          left: 22.5%;
        }

        &:before,
        &:after {
          transition-delay: 0.3s;
        }
      }

      &.line-2 {
        &:before {
          top: 32.5%;
        }

        &:after {
          left: 50%;
        }

        &:before,
        &:after {
          transition-delay: 0.15s;
        }
      }

      &.line-3 {
        &:before {
          top: 55%;
        }

        &:after {
          right: 22.5%;
        }
      }
    }
  }

  &:hover {
    /* box-shadow: 0px 3px 6px var(--card-hover-box-shadow-1), 0px var(--card-hover-box-shadow-2-y) var(--card-hover-box-shadow-2-blur) var(--card-hover-box-shadow-2), 0 0 0 1px var(--card-hover-border-color); */
    border: 1px solid #74f7ff;
    box-shadow: 0 0 10px #0d8ba6;
    border-radius: 10px;

    .icon {
      &::after {
        border: 1px solid #74f7ff;
        box-shadow: 0 0 10px #0d8ba6;
        background: rgba(255, 255, 255, 0.1);
      }

      svg {
        color: var(--card-hover-icon-color);
      }
    }

    .shine {
      opacity: 1;
      transition-duration: 0.5s;
      transition-delay: 0s;
    }

    .background {
      .tiles {
        opacity: 1;
        transition-delay: 0.25s;

        .tile {
          animation-name: tile;
        }
      }

      .line {
        opacity: 1;
        transition-duration: 0.15s;

        &:before {
          transform: scaleX(1);
        }

        &:after {
          transform: scaleY(1);
        }

        &.line-1 {
          &:before,
          &:after {
            transition-delay: 0s;
          }
        }

        &.line-2 {
          &:before,
          &:after {
            transition-delay: 0.15s;
          }
        }

        &.line-3 {
          &:before,
          &:after {
            transition-delay: 0.3s;
          }
        }
      }
    }
  }
}

// Center
body {
  min-height: 100vh;
  display: flex;
  font-family: "Alice", Arial;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    inset: 0 -60% 65% -60%;
    background-image: radial-gradient(
      ellipse at top,
      #74f7ff 0%,
      var(--background-color) 50%
    );
    opacity: var(--blur-opacity);
  }

  .twitter {
    position: fixed;
    display: block;
    right: 12px;
    bottom: 12px;
    svg {
      width: 32px;
      height: 32px;
      fill: #fff;
    }
  }
}
.reviews {
  margin-bottom: 40px; /* Adjust margin for smaller screens */
  margin-top: 40px; /* Adjust margin for smaller screens */
  width: 100%;
  height: auto;
  display: inline-block;
  overflow: hidden;
}
.words {
  width: 100%;
  display: flex;
  position: relative;
  animation: move-words 12s linear infinite;
  margin: 0;
  margin-top: 24px;
  overflow: hidden; /* Hide overflow to prevent horizontal scrolling on small screens */
}
@keyframes move-words {
  0% {
    left: 100%;
  }
  100% {
    left: -60%;
  }
}
.gtco-testimonials {
  position: relative;
  margin-top: 30px;

  .owl-stage-outer {
    padding: 0px;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    text-align: center;

    span {
      position: relative;
      height: 10px;
      width: 10px;
      border-radius: 50%;
      display: block;
      background: #fff;
      border: 2px solid #01b0f8;
      margin: 0 5px;
    }

    .active {
      box-shadow: none;

      span {
        background: #01b0f8;
        box-shadow: none;
        height: 12px;
        width: 12px;
        margin-bottom: -1px;
      }
    }
  }
  .card-rev {
    display: inline-block;
    border: 1px solid #74f7ff;
    box-shadow: 0 0 10px #0d8ba6;
    background: rgba(255, 255, 255, 0.1);
    /* margin: 0px 24px 24px 0px; */
    padding: 16px;
    border-radius: 20px;
    width: 80%;
    /* Removed min-width as it's covered by media queries */

    .card-rev-img-top {
      max-width: 100px;
      border: 1px solid #74f7ff;
      border-radius: 100%;
      margin: 15px auto 0;
      border-color: #74f7ff;
      /* box-shadow: 0 8px 20px -4px #95abbb; */
      width: 100px;
      height: 100px;
      padding: 16px;
    }
    h5 {
      font-family: "Alice";
      color: #74f7ff;
      font-size: 32px;
      span {
        font-size: 18px;
        color: #cccccc;
      }
    }
    p {
      font-family: "Alice";
      font-size: 20px;
      color: #fff;
      padding: 24px;
    }
    .card-text {
      font-size: 16px;
      line-height: 32px;
      padding: 24px;
    }
  }
  .active {
    opacity: 0.5;
    transition: all 0.3s;
  }
  .center {
    opacity: 1;

    h5 {
      font-size: 24px;

      span {
        font-size: 20px;
      }
    }
    .card-rev-img-top {
      max-width: 100%;
      height: 120px;
      width: 120px;
      padding: 16px;
      /* background: rgba(255, 255, 255, 0.30); */
    }
  }
}
.owl-carousel {
  .owl-nav button {
    &.owl-next,
    &.owl-prev {
      outline: 0;
    }
  }

  button.owl-dot {
    outline: 0;
  }
}
.star {
  margin-top: 16px;
  margin-left: 6px;
  margin-right: 6px;
  display: inline-flex;
  align-items: center;
  height: 24px;
  width: 24px;
}
#active {
  background-color: #14b1a8;
}
.about {
  width: 100%;
  height: auto;
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  background: #fff;
  padding: 0 20px; /* Add padding for better spacing on smaller screens */
}
.about-grid {
  overflow: hidden;
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px; /* Add gap between grid items */
}
.text-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  overflow: visible;
  gap: 40px; /* Add gap between flex items */
}
.tabbed {
  display: inline-block;
  width: 100%;
  max-width: 93%;
  height: auto;
  margin-left: 80px; /* Center the element horizontally */
  margin-right: auto; /* Center the element horizontally */
  margin-bottom: 0;
  margin-top: 0;
  font-size: 32px;
  font-family: "Alice";
  border-radius: 60px;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.image-section {
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px; /* Add gap between flex items */
}
.image-container img {
  max-width: 100%;
  max-height: 100%;
  width: 372px;
  height: 497px;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
}
.image-container button {
  width: 100%;
  margin-top: 8px;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  border: 1px solid #74f7ff;
  border-radius: 10px;
  box-shadow: 0 0 10px #0d8ba6;
  cursor: pointer;
}
.tabbed > input {
  display: none;
  border-radius: 60px;
  border: 1.5px solid #fff;
}
.tabbed > label {
  display: block;
  float: left;
  margin: 16px;
  padding: 8px;
  flex-wrap: wrap;
  padding-left: 24px;
  padding-right: 24px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 60px;
  border: 1px solid rgba(116, 247, 255, 0.6);
}
.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #4ec6de;
}
.tabs {
  width: 100%;
  margin-left: 16px;
  margin-right: 16px;
  clear: both;
  perspective: 600px;
}
.tabs h3 {
  width: 100%;
  font-family: "alice";
  font-size: 24px;
  margin: 0px;
  text-align: left;
}
.tabs p {
  color: rgba(255, 255, 255, 0.6);
  font-family: "alice";
  font-size: 16px;
  padding: 0px;
  margin: 0px;
  text-align: left;
  margin-bottom: 24px;
}
.tabs span {
  display: inline-block;
  width: 100%;
  font-family: "alice";
  font-size: 12px;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 4px;
}
.tabs img {
  width: 80px;
  height: 80px;
  display: inline-block;
  margin-top: 16px;
  margin: 16px;
  margin-bottom: 24px;
}
.tabs-div {
  display: flex;
  width: auto;
  margin-bottom: 16px;
}
.tabs-div span {
  width: 20%;
}
.tabs > div {
  width: auto;
  position: absolute;
  margin: 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  padding: 10px 30px 40px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-90deg);
  transform-origin: top center;
  transition: opacity 0.3s, transform 1s;
  z-index: 0;
}
#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  transform: rotateX(0);
  opacity: 1;
  z-index: 1;
  width: 90%;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
}
.marquee {
  width: 100%;
  height: auto; /* Adjusted height to auto */
  background-color: #050115;
  color: #fff;
  overflow: hidden;
  position: relative;
}
.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  position: relative;
  animation: move-list 30s linear infinite;
  margin-left: 40px;
  margin-right: 40px;
  padding: 0 16px; /* Adjust padding for smaller screens */
}
.marquee-content img {
  width: 100px;
  height: 100px;
}
.marquee-text {
  font-size: 56px;
  font-family: "alice";
  color: #fff;
  text-align: left;
  display: flex;
  margin-bottom: 24px;
  gap: 16px;
  align-items: center;
  justify-content: center;
}
.marquee-text img {
  width: 56px;
  height: 56px;
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Adjust the number of elements */
  max-height: 100%;
  font-size: calc(8vh * 3 / 4);
  white-space: nowrap;
}
.marquee-content li i {
  font-size: 2em; /* Adjust the size of the icons */
}
.Talk {
  display: flex;
  flex-direction: column;
}
.Talk .column {
  flex: 1;
  padding: 20px; /* Adjust padding as needed */
  overflow: hidden;
}
.background-section {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.talk-field {
  color: #fff;
  font-family: "Alice";
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
}
.talk-field-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 32px; /* Increase padding for larger screens */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.fourm {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 489px; /* Set maximum width */
  width: 100%; /* Adjust width to fit container */
  padding: 0px;
  border-radius: 10px;
}
.fourm input {
  padding: 16px;
  width: 100%;
  height: 56px;
  font-size: 24px;
  font-family: "Alice";
  box-sizing: border-box;
  border: none; /* Remove border style */
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
}
.talk-field-input input::placeholder {
  color: #fff; /* Your desired color */
  font-size: 24px;
  font-family: "Alice";
}
.textarea {
  width: 100%;
  height: 200px;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.2);
  font-size: 24px;
  font-family: "Alice";
  color: #fff;
  border: none; /* Remove the border */
}
.textarea::placeholder {
  color: #fff;
}
.textarea:focus {
  outline: none !important;
  border: 1px solid #0d8ba6;
  box-shadow: 0 0 10px #0d8ba6;
}
.fourm input,
.textarea {
  transition: background 0.2s ease-in-out, color 0.2s ease-in-out,
    border 0.2s ease-in-out;
}
.fourm input::placeholder,
.textarea::placeholder {
  transition: color 0.2s ease-in-out;
}
.fourm input:focus,
.textarea:focus {
  outline: none !important;
  border: 1px solid #74f7ff;
  box-shadow: 0 0 10px #0d8ba6;
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}
h5 {
  font-size: 64px;
  font-family: "Alice";
  font-style: normal;
  font-weight: lighter;
  margin: 7%;
}
.fourm button {
  width: 100%;
  margin-top: 8px;
  margin-left: auto;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.footer {
  margin-top: 24px;
  position: relative;
  width: auto;
  height: auto;
  background: #0f152f;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}
.social-icon__item,
.menu__item {
  list-style: none;
}
.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}
.social-icon__link img {
  width: 32px;
  height: 32px;
  color: #fff;
  /* margin: 0 10px; */
  display: inline-block;
  transition: 0.5s;
}
.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover {
  opacity: 1;
}
.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
  font-family: "alice";
}
.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("wave.png");
  background-size: 1000px 100px;
}
.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}
.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}
.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}
.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}
@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}
@media only screen and (max-width: 1440px) {
}
/* Responsive styles for smaller screens */
@media only screen and (max-width: 960px) {
  /* Default styles for larger screens */
  .floating-navbar {
    position: fixed;
    top: 72px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    width: 90%;
    height: 64px;
    padding: 8px;
    justify-content: right;
    align-items: center;
    gap: 20px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1001;
  }
  .menu-icon {
    display: block;
  }
  .navbar-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 72px;
    left: 24px;
    width: 80%;
    background: rgba(5, 1, 21, 0.8);
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1002;
  }
  .navbar-list.active {
    display: flex;
  }
  .navbar-list li {
    margin: 8px 0;
  }
}
@media only screen and (max-width: 1350px) {
  .scroll-button {
    display: none;
  }
  .scroll-button img {
    display: none;
  }
  .container {
    display: none;
  }
  .mouse {
    display: none;
  }
  .mouse::before {
    display: none;
  }
}
@media only screen and (min-width: 1600px) and (max-width: 1800px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(
      3,
      minmax(auto, 1fr)
    ); /* Flexible grid with minimum width */
    grid-gap: 24px; /* Adjust grid gap as needed */
  }
  .flip-card {
    display: flex; /* Change to flex for better centering */
    background-color: transparent;
    width: 100%; /* Use relative units for responsiveness */
    max-width: 528px; /* Keep maximum width for larger screens */
    height: 50vh; /* Allow cards to resize proportionally */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    perspective: 1000px; /* Remove if you don't want the 3D effect */
    align-items: center; /* Center content vertically */
    display: flex;
    flex-wrap: wrap;
  }
  .flib-card-back {
    padding: 16px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 1600px) {
  /* Adjust grid columns, margins, and other styles for smaller screens */
  .cards-container {
    display: grid;
    grid-template-columns: repeat(
      2,
      minmax(auto, 1fr)
    ); /* Flexible grid with minimum width */
    grid-gap: 24px; /* Adjust grid gap as needed */
  }
  .flip-card {
    display: flex; /* Change to flex for better centering */
    background-color: transparent;
    width: 100%; /* Use relative units for responsiveness */
    max-width: 528px; /* Keep maximum width for larger screens */
    height: 50vh; /* Allow cards to resize proportionally */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    perspective: 1000px; /* Remove if you don't want the 3D effect */
    align-items: center; /* Center content vertically */
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  .flib-card-back {
    padding: 24px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}

@media only screen and (max-width: 800px) {
  .cards-container {
    display: grid;
    grid-template-columns: repeat(
      1,
      minmax(auto, 1fr)
    ); /* Flexible grid with minimum width */
    grid-gap: 24px; /* Adjust grid gap as needed */
    margin: 0 auto;
  }
  .flip-card {
    display: flex; /* Change to flex for better centering */
    background-color: transparent;
    width: 100%; /* Use relative units for responsiveness */
    max-width: 528px; /* Keep maximum width for larger screens */
    height: 55vh; /* Allow cards to resize proportionally */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    perspective: 1000px; /* Remove if you don't want the 3D effect */
    align-items: center; /* Center content vertically */
    display: flex;
    flex-wrap: wrap;
  }
  .flib-card-back {
    padding: 24px;
  }
  h3 {
    font-size: 28px;
  }
  p {
    font-size: 20px;
    font-weight: bold;
    padding: 24px;
  }
  .iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  }
  .responsive-iframe {
    position: absolute;
    top: 56px;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
  }
}
@media only screen and (max-width: 430px) {
  .flip-card {
    display: flex; /* Change to flex for better centering */
    background-color: transparent;
    width: 100%; /* Use relative units for responsiveness */
    max-width: 528px; /* Keep maximum width for larger screens */
    height: 70vh; /* Allow cards to resize proportionally */
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    perspective: 1000px; /* Remove if you don't want the 3D effect */
    align-items: center; /* Center content vertically */
    display: flex;
    flex-wrap: wrap;
  }
}
@media only screen and (max-width: 1300px) {
  .glow-on-hover-li {
    font-size: 16px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 820px) {
  .glow-on-hover-li {
    font-size: 14px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 720px) {
  .glow-on-hover-li {
    font-size: 14px;
    font-weight: bold;
  }
}
@media only screen and (max-width: 720px) {
  .ribbon-2 {
    --f: 5px; /* Decrease the folded part for smaller screens */
    --r: 10px; /* Decrease the ribbon shape for smaller screens */
    --t: 5px; /* Decrease the top offset for smaller screens */
    font-size: 32px; /* Decrease font size for smaller screens */
  }
}
@media only screen and (max-width: 720px) {
  .ribbon-1 {
    --f: 5px; /* Decrease the folded part for smaller screens */
    --r: 10px; /* Decrease the ribbon shape for smaller screens */
    --t: 5px; /* Decrease the top offset for smaller screens */
    font-size: 32px; /* Decrease font size for smaller screens */
  }
}
@media only screen and (max-width: 1700px) {
  .pro-h2 {
    font-size: 72px;
  }
}
@media only screen and (max-width: 1440px) {
  .my-projects {
    width: 100%;
  }
  .pro-div {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }
}
@media only screen and (max-width: 1024px) {
  .my-projects {
    width: 100%;
  }
  .pro-div {
    display: flex;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 0;
    justify-content: center;
    align-items: center;
  }
  .pro-h2 {
    font-size: 48px;
  }
}
@media only screen and (max-width: 820px) {
  .my-projects {
    width: 100%;
  }
  .pro-div {
    display: flex;
    padding-left: 4%;
    padding-right: 4%;
    margin: 0 auto;
  }
  .card-projects {
    max-width: 100%;
    max-height: auto;
    margin-top: 0px;
  }
  .pro-h2 {
    font-size: 32px;
  }
  .arrows {
    cursor: pointer;
    padding-top: 24px;
    padding: 8px;
    max-width: 24px;
    max-height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(
      auto-fit,
      minmax(250px, 1fr)
    ); /* Adjust as needed */
    grid-gap: 32px; /* Adjust as needed */
  }
}
@media only screen and (max-width: 720px) {
  .reviews {
    margin-bottom: 20px; /* Adjust margin for smaller screens */
    margin-top: 20px; /* Adjust margin for smaller screens */
  }
  .words {
    font-size: 32px; /* Decrease font size for smaller screens */
    margin-bottom: 32px;
  }
  @keyframes move-words {
    0% {
      left: 100%;
    }
    100% {
      left: -90%;
    }
  }
}
@media only screen and (max-width: 768px) {
  .card-rev {
    margin: 0 auto; /* Horizontally center the element */
  }
}
@media only screen and (max-width: 1500px) {
  .card-rev {
    display: block;
    width: 100%;
    margin: 20px; /* Adjust margin for medium screens */
    overflow: hidden;
  }
  .card-text {
    font-size: 15px;
    line-height: 32px;
    padding: 24px;
  }
}
@media only screen and (min-width: 1920px) {
  /* Show three cards per row on large screens */
  width: 100%;
  max-width: 460px;
  margin: 40px; /* Keep larger margin on large screens */
}
@media (max-width: 768px) {
  .gtco-testimonials {
    margin-top: 8px;
  }
  .owl-carousel,
  .owl-carousel1,
  .owl-theme {
    width: 100%;
  }
  .owl-carousel div {
    width: 100%;
  }
}
@media only screen and (max-width: 1440px) {
  .about-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjust to single column layout for smaller screens */
    margin: 40px;
    /* height: 90vh; */
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    font-size: 24px; /* Reduce font size for smaller screens */
    border-radius: 20px;
    font-size: 18px;
  }
  .tabs {
    width: 90%;
    /* clear: both; */
  }
  .tabs h3 {
    width: 100%;
    font-family: "alice";
    font-size: 20px;
    text-align: left;
    line-height: auto;
  }
  .tabs p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "alice";
    font-size: 14px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
  }
  .tabs span {
    display: inline-block;
    font-family: "alice";
    font-size: 12px;
    text-align: right;
  }
  .tabs img {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 16px;
    margin: 8px;
    margin-bottom: 8px;
    justify-content: center;
  }
  .tabs-div span {
    min-width: 25%;
  }
}
@media only screen and (max-width: 1024px) {
  .about-grid {
    grid-template-columns: repeat(
      2,
      1fr
    ); /* Adjust to single column layout for smaller screens */
    margin: 40px;
    height: 90vh;
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    font-size: 24px; /* Reduce font size for smaller screens */
    border-radius: 20px;
    font-size: 18px;
  }
  .tabs {
    width: 90%;
    /* clear: both; */
  }
  .tabs h3 {
    width: 100%;
    font-family: "alice";
    font-size: 20px;
    text-align: left;
    line-height: auto;
  }
  .tabs p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "alice";
    font-size: 14px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
  }
  .tabs span {
    display: inline-block;
    font-family: "alice";
    font-size: 14px;
    text-align: right;
  }
  .tabs img {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 16px;
    margin: 8px;
    margin-bottom: 8px;
    justify-content: center;
  }
  .tabs-div span {
    min-width: 25%;
  }
}
@media only screen and (max-width: 800px) {
  .about-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjust to single column layout for smaller screens */
    margin: 16px;
    height: 150vh;
  }
}
@media only screen and (max-width: 430px) {
  .about-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjust to single column layout for smaller screens */
    /* margin: 16px; */
    height: 200vh;
  }
  .card-projects video {
    width: 100%;
    height: auto;
    max-height: 894px;
    border-radius: 10px;
    box-shadow: 10px 10px 60px 0px rgba(13, 200, 207, 0.3),
      -10px -10px 60px 0px rgba(13, 200, 207, 0.3);
  }
}
@media only screen and (max-width: 325px) {
  .about-grid {
    grid-template-columns: repeat(
      1,
      1fr
    ); /* Adjust to single column layout for smaller screens */
    /* margin: 16px; */
    height: 170vh;
  }
}
@media only screen and (max-width: 1300px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    font-size: 24px; /* Reduce font size for smaller screens */
    border-radius: 20px;
    font-size: 18px;
  }
}
@media only screen and (max-width: 800px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
    margin-bottom: 40px;
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    margin-left: auto; /* Center the element horizontally */
    margin-right: auto; /* Center the element horizontally */
    font-size: 24px; /* Reduce font size for smaller screens */
    border-radius: 10px;
    font-size: 18px;
    margin-bottom: 360px;
  }
}
@media only screen and (max-width: 1300px) {
  .image-container {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .image-container img {
    width: 80%; /* Adjust image width to fit the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
  .image-container button {
    width: 90%; /* Adjust button width to fit the container */
  }
}

@media only screen and (max-width: 800px) {
  .image-container {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .image-container img {
    width: 50%; /* Adjust image width to fit the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
  .image-container button {
    width: 55%; /* Adjust button width to fit the container */
    margin: 0 auto;
  }
}
@media only screen and (max-width: 430px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
    margin-bottom: 360px;
  }
  .image-container {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .image-container img {
    width: 80%; /* Adjust image width to fit the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
  .image-container button {
    width: 90%; /* Adjust button width to fit the container */
    margin: 0 auto;
  }
}
@media only screen and (max-width: 375px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
    margin-bottom: 240px;
  }
  .image-container {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .image-container img {
    width: 80%; /* Adjust image width to fit the container */
    height: auto; /* Let the height adjust proportionally */
    max-width: 100%; /* Ensure image doesn't exceed container width */
  }
  .image-container button {
    width: 90%; /* Adjust button width to fit the container */
    margin: 0 auto;
  }
}
@media only screen and (max-width: 325px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
    /* margin-bottom: 320px; */
  }
}
@media only screen and (max-width: 1300px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    font-size: 24px; /* Reduce font size for smaller screens */
    border-radius: 20px;
    font-size: 18px;
  }
  .tabs {
    width: 85%;
    clear: both;
  }
  .tabs h3 {
    width: 100%;
    font-family: "alice";
    font-size: 16px;
    text-align: left;
    line-height: auto;
  }
  .tabs p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "alice";
    font-size: 14px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
  }
  .tabs span {
    display: inline-block;
    font-family: "alice";
    font-size: 10px;
    text-align: right;
  }
  .tabs img {
    width: 56px;
    height: 56px;
    display: inline-block;
    margin-top: 16px;
    margin: 8px;
    margin-bottom: 8px;
    justify-content: center;
  }
  .tabs-div span {
    min-width: 15%;
  }
}

@media only screen and (max-width: 800px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    border-radius: 20px;
    font-size: 15px;
  }
  .tabs {
    width: 85%;
    clear: both;
  }
  .tabs h3 {
    width: 100%;
    font-family: "alice";
    font-size: 18px;
    text-align: left;
    line-height: auto;
  }
  .tabs p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "alice";
    font-size: 14px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
  }
  .tabs span {
    display: inline-block;
    font-family: "alice";
    font-size: 12px;
    text-align: right;
  }
  .tabs img {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 16px;
    margin: 8px;
    margin-bottom: 8px;
    justify-content: center;
  }
  .tabs-div span {
    min-width: 30%;
  }
}
@media screen and (max-width: 1300px) {
  .tabbed {
    width: 100%;
    display: inline-block;
  }
  .tabbed > label {
    display: inline-flex;
  }
  .tabs > div {
    width: auto;
    position: absolute;
    margin: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4ec6de;
    padding-bottom: 0.5em;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1300px) {
  /* Adjust width and center for medium-sized screens */
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    width: 85%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 800px) {
  .tabbed {
    width: auto;
    display: inline-block;
  }
  .tabbed > label {
    display: inline-flex;
  }
  .tabs > div {
    width: auto;
    position: absolute;
    margin: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4ec6de;
    padding-bottom: 0.5em;
  }
}
@media only screen and (max-width: 800px) {
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    width: 100%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 425px) {
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    width: 85%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 375px) {
  .tabbed {
    width: auto;
    display: inline-block;
  }
  .tabbed > label {
    display: inline-flex;
    font-size: 12px;
  }
  .tabs > div {
    width: auto;
    position: absolute;
    margin: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4ec6de;
    padding-bottom: 0.5em;
  }
}
@media only screen and (max-width: 375px) {
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    width: 80%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 325px) {
  .text-section {
    gap: 20px; /* Reduce gap between flex items for smaller screens */
  }
  .tabbed {
    width: 100%; /* Adjust width to fit the container */
    border-radius: 20px;
    font-size: 14px;
  }
  .tabs {
    width: 85%;
    clear: both;
  }
  .tabs h3 {
    width: 100%;
    font-family: "alice";
    font-size: 13px;
    text-align: left;
    line-height: auto;
  }
  .tabs p {
    color: rgba(255, 255, 255, 0.6);
    font-family: "alice";
    font-size: 12px;
    text-align: left;
    margin-bottom: 16px;
    width: 100%;
  }
  .tabs span {
    display: inline-block;
    font-family: "alice";
    font-size: 10px;
    text-align: right;
  }
  .tabs img {
    width: 48px;
    height: 48px;
    display: inline-block;
    margin-top: 16px;
    margin: 8px;
    margin-bottom: 8px;
    justify-content: center;
  }
  .tabs-div span {
    min-width: 30%;
  }
}
@media only screen and (max-width: 325px) {
  .tabbed {
    width: auto;
    display: inline-block;
  }
  .tabbed > label {
    display: inline-flex;
    font-size: 12px;
  }
  .tabs > div {
    width: auto;
    position: absolute;
    margin: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding: 10px 30px 40px;
    line-height: 1.4em;
    opacity: 0;
    transform: rotateX(-90deg);
    transform-origin: top center;
    transition: opacity 0.3s, transform 1s;
    z-index: 0;
  }
  .tabs > div h2 {
    border-bottom: 2px solid #4ec6de;
    padding-bottom: 0.5em;
  }
}
@media only screen and (max-width: 325px) {
  #tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
  #tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
  #tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
  #tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
    width: 75%; /* Adjust width as needed */
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1440px) {
  .marquee-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .marquee-content li {
    flex: 0 0 20%;
    max-width: 50%;
  }
  .marquee-text {
    font-size: 48px;
  }
  .marquee-text img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 768px) {
  .marquee-content li {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .marquee-content img {
    width: 80px; /* Decrease image size for smaller screens */
    height: 80px;
  }
  .marquee-text {
    font-size: 40px;
  }
  .marquee-text img {
    width: 32px;
    height: 32px;
  }
}
@media only screen and (min-width: 768px) {
  .Talk {
    flex-direction: row;
    margin: 0px;
  }
  .Talk .column {
    flex: 1;
    height: auto; /* Reset height for columns */
  }
}
@media only screen and (max-width: 768px) {
  .background-section {
    background-size: contain;
    width: 100%;
    height: auto;
    margin-bottom: 80px;
  }
}
@media only screen and (max-width: 820px) {
  .talk-field {
    /* Adjust font size for smaller screens */
    font-size: 24px;
    margin-top: 180px;
  }
  .talk-field-input {
    padding: 16px; /* Decrease padding for smaller screens */
    gap: 10px; /* Adjust gap for smaller screens */
  }
}
@media only screen and (max-width: 600px) {
  .talk-field {
    /* Adjust font size for smaller screens */
    font-size: 24px;
    margin-top: 8px;
  }
  .talk-field-input {
    padding: 16px; /* Decrease padding for smaller screens */
    gap: 10px; /* Adjust gap for smaller screens */
  }
}
@media only screen and (max-width: 768px) {
  .fourm {
    max-width: 100%; /* Set maximum width to full width */
  }
  .fourm input {
    font-size: 18px; /* Decrease font size for smaller screens */
  }
}
@media only screen and (max-width: 768px) {
  .talk-field-input input::placeholder {
    font-size: 18px; /* Decrease placeholder font size for smaller screens */
  }
  .talk-field-input input {
    font-size: 18px; /* Decrease input font size for smaller screens */
  }
}
@media only screen and (max-width: 768px) {
  .textarea {
    height: 150px; /* Decrease textarea height for smaller screens */
    padding: 12px; /* Adjust padding for smaller screens */
    font-size: 18px; /* Decrease font size for smaller screens */
    resize: none;
  }
}
@media only screen and (max-width: 768px) {
  .textarea::placeholder,
  .fourm input::placeholder {
    font-size: 18px; /* Decrease placeholder font size for smaller screens */
  }
}
@media only screen and (max-width: 768px) {
  h5 {
    font-size: 40px; /* Decrease font size for smaller screens */
  }
  .fourm button {
    margin-top: 16px; /* Increase margin-top for smaller screens */
  }
}
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 40px; /* Decrease font size for smaller screens */
  }
}
@media only screen and (max-width: 1300px) {
  h5 {
    font-size: 48px; /* Decrease font size for smaller screens */
    /* margin: 5%; /* Adjust margin for smaller screens */
  }
}
@media only screen and (max-width: 1300px) {
  h2 {
    font-size: 48px; /* Decrease font size for smaller screens */
    width: auto;
  }
}
@media only screen and (max-width: 325px) {
  h2 {
    font-size: 32px; /* Decrease font size for smaller screens */
    width: auto;
  }
  .marquee-text {
    font-size: 32px;
  }
}
@media only screen and (max-width: 720px) {
  body {
    width: 90%;
    margin: 0 auto; /* Center horizontally and vertically */
  }
}
